@mixin onTablet {
  @media (min-width: 744px) {
    @content;
  }
}

@mixin onDesctop {
  @media (min-width: 1260px) {
    @content;
  }
}

[class*="__container"] {
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 20px;

  @include onTablet {
    padding: 0 72px;
  }

  @include onDesctop {
    padding: 0 120px;
  }
}

.page {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  background-color: #1d1d1d;
  color: #fff;

  &__body {
    margin: 0;
  }
}