.page {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  background-color: #1d1d1d;
  color: #fff;

  &__body {
    margin: 0;
  }
}